<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="app.view.login"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <uses-sdk android:minSdkVersion="14"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="LoginActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="app.view.main.MainActivity"
                android:label="MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:screenOrientation="portrait"
                android:theme="@style/MainTheme">

        </activity>

        <activity android:name="app.view.play_detail.PlayDetailActivity"/>
        <activity
                android:name="app.view.play_detail.PlayDetailActivity"
                android:theme="@style/MainTheme"/>

        <activity
                android:name="app.view.main.notify.NotificationActivity"
                android:label="NotificationActivity"
                android:theme="@android:style/Theme.NoTitleBar"/>

        <activity
                android:name="app.view.signup.SignUpActivity"
                android:label="SignUpActivity"/>

        <activity
                android:name="app.view.friendspage.FriendsHomepageActivity"
                android:label="FriendspageActivity"/>

        <activity
                android:name="app.view.splash_screen.SplashScreenActivity"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        </activity>

        <!--to receive message from others-->
        <receiver android:name="com.avos.avoscloud.AVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>

        <receiver android:name="app.receiver.notifyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="com.avos.UPDATE_STATUS"/>
            </intent-filter>
        </receiver>


    </application>
</manifest>
